
.form{
    
    position: absolute;
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    border: 5px solid rgba(6, 68, 4, 0.671);
    border-radius: 15px;
    padding: 5%;
    overflow-x: hidden;
}

.django-ckeditor-widget{
    
    
    width: 100% !important;
}