{%extends 'base.html' %}
{%load static %}
{%block content%}

<link href="{%static 'css/diary.css' %}" rel="stylesheet" type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet" type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script src="{% static 'js/diary.js' %}"></script>


<ul>
    {%for date in dates %} 
        <li>
            <a href="{%url 'diary:show_date' date|date:'Y' date|date:'m' date|date:'j' %}">
            {{date}}</a>
        </li>
    {%endfor%}


    <div class="container py-5">
        <header class="text-center">
            <h1 class="display-4 font-weight-bold">Pick a Date</h1>
            <p class="font-italic text-muted mb-0">To read your diary!</p>
            
        </header>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="py-4 text-center"><i class="fa fa-calendar fa-5x"></i></div>
    
                <!-- Date Picker Input -->
                <div class="form-group mb-4">
                    <div class="datepicker date input-group p-0 shadow-sm">
                        <input type="text" placeholder="Choose a date" class="form-control py-4 px-4" id="reservationDate">
                        <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-clock-o"></i></span></div>
                    </div>
                </div><!-- DEnd ate Picker Input -->
    
                <!-- For Demo Purpose -->
                <div class="text-center">
                    <p class="font-italic text-muted mb-0">The Date You Picked Is</p>
                    <h4 id="pickedDate" class="font-weight-bold text-uppercase mb-3">Not set yet</h4>
                    <a href="#" class="btn btn-primary btn-sm px-4 rounded-pill text-uppercase font-weight-bold shadow-sm " id='Go'>Go to Date Now</a>
                </div>
            </div>
        </div>
    </div>
    

   
</ul>
{%endblock%}