{%extends 'base.html' %}
{%load static %}
{% block linking %}
<link href="{%static 'css/welcome.css' %}" rel="stylesheet">
{% endblock %}


{% block content %} 

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000000" fill-opacity="1" d="M0,192L288,224L576,224L864,256L1152,224L1440,288L1440,0L1152,0L864,0L576,0L288,0L0,0Z"></path></svg>

<div class='welcome-note'>



</div>
<div class='sub-welcome-note' style='background-color:blue;'>
<h1> STOP!!! </h1>
<h4> Trying to hide your diary from bad guys and start using a super secret digital diary with <span class="logo">Secret Diary</span></span></h4>
dcdcdccdc

<a href="/create">Create a new log now!</a>
</div>
{% endblock %}
