{%extends 'base.html' %}
{%load static %}
{% block linking %}
<head>
  <meta name="google-site-verification" content="FLUFguY6WW517ah-n0Zsq8uhkhjBBPe9EFsRD6qoMyI" />
</head>
<link href="{%static 'css/welcome.css' %}" rel="stylesheet">
{% endblock %}


{% block content %} 
<div class='hello' style='margin-top:0; text-align:center; background-color:#a2d9ff;height:100;'>


<h1> STOP!!! </h1>
<h4> Trying to hide your diary from bad guys and start using a super secret digital diary with <span class="logo">Secret Diary</span></span></h4>


<a href="/create">Create a new log now!</a>
</div>
{% endblock %}
