{%extends 'base.html' %}
{%load static %}
{% block linking %}
<head>
  <meta name="google-site-verification" content="FLUFguY6WW517ah-n0Zsq8uhkhjBBPe9EFsRD6qoMyI" />
</head>
<link href="{%static 'css/welcome.css' %}" rel="stylesheet">
{% endblock %}


{% block content %} 

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,64L120,69.3C240,75,480,85,720,128C960,171,1200,245,1320,282.7L1440,320L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,64L120,69.3C240,75,480,85,720,128C960,171,1200,245,1320,282.7L1440,320L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
<div class='hello' style='margin:auto; text-align:center; background-color:#a2d9ff;'>
<h1> STOP!!! </h1>
<h4> Trying to hide your diary from bad guys and start using a super secret digital diary with <span class="logo">Secret Diary</span></span></h4>


<a href="/create">Create a new log now!</a>
</div>
{% endblock %}
